header {
  background: lavender;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: large;
}


.NP {
  background: pink;
}

.NATION {
  background: gold;
}

.name {
  background: gold;
}

*[typeof="organization"] {
  color: purple;
  font-weight: bold;
}

*[typeof="person"] {
  color: blue;
}

*[typeof="date"] {
  font-weight: bold;
}

time {
  font-weight: bold;
  color: magenta;
}


*[typeof ~= "place"] {
	color: grey;
}

*[typeof="name"] {
  font-weight: bold;
}

*[typeof="stuff"] {
  font-weight: bold;
}

*[typeof="Place"] {
  text-decoration: underline;
  #background: gold;
}

time {
  font-weight: bold;
}

span > span {
  font-weight: bold;
}

*[property = "name"] {
  font-weight: bold;
}

*[property="worksFor"] {
  background: lightgreen;
}

*[typeof = "action"] {
  color: red;
}

*[data-lemma = "police"] {
  color: red;
}

*[data-identity] {
  color: purple;
}

*[data-lemma = "cocaine"] {
  color: steelblue;
}

*[property="jobTitle"] {
  background: lightsteelblue;
}